/*
Color shades ->
    light pink -> #fddde6
    dark pink -> #fc6c85
    white -> #ffffff
    black -> #000000
*/

body{
    padding-top: 80px;
}
/* Navbar css */
.navbar{
    height: 100px;
}
.nav-left{
    text-transform: uppercase !important;
    font-style: normal;
    font-weight:900 !important;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}


/* ----- Home -------- */
/* Section 1 */
.jumbotron{
    background-color: #fddde6 !important;
    text-align: center;

   
}
.btn-jumbotron{
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 2px solid #fc6c85 !important;
}